<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <string>A_.glif</string>
  <key>A.inv</key>
  <string>A_.inv.glif</string>
  <key>B</key>
  <string>B_.glif</string>
  <key>B.inv</key>
  <string>B_.inv.glif</string>
  <key>C</key>
  <string>C_.glif</string>
  <key>C.inv</key>
  <string>C_.inv.glif</string>
  <key>D</key>
  <string>D_.glif</string>
  <key>D.inv</key>
  <string>D_.inv.glif</string>
  <key>E</key>
  <string>E_.glif</string>
  <key>E.inv</key>
  <string>E_.inv.glif</string>
  <key>Eacute</key>
  <string>E_acute.glif</string>
  <key>Eacute.inv</key>
  <string>E_acute.inv.glif</string>
  <key>Ecircumflex</key>
  <string>E_circumflex.glif</string>
  <key>Ecircumflex.inv</key>
  <string>E_circumflex.inv.glif</string>
  <key>F</key>
  <string>F_.glif</string>
  <key>F.inv</key>
  <string>F_.inv.glif</string>
  <key>G</key>
  <string>G_.glif</string>
  <key>G.inv</key>
  <string>G_.inv.glif</string>
  <key>H</key>
  <string>H_.glif</string>
  <key>H.inv</key>
  <string>H_.inv.glif</string>
  <key>I</key>
  <string>I_.glif</string>
  <key>I.inv</key>
  <string>I_.inv.glif</string>
  <key>J</key>
  <string>J_.glif</string>
  <key>J.inv</key>
  <string>J_.inv.glif</string>
  <key>K</key>
  <string>K_.glif</string>
  <key>K.inv</key>
  <string>K_.inv.glif</string>
  <key>L</key>
  <string>L_.glif</string>
  <key>L.inv</key>
  <string>L_.inv.glif</string>
  <key>M</key>
  <string>M_.glif</string>
  <key>M.inv</key>
  <string>M_.inv.glif</string>
  <key>N</key>
  <string>N_.glif</string>
  <key>N.inv</key>
  <string>N_.inv.glif</string>
  <key>O</key>
  <string>O_.glif</string>
  <key>O.inv</key>
  <string>O_.inv.glif</string>
  <key>P</key>
  <string>P_.glif</string>
  <key>P.inv</key>
  <string>P_.inv.glif</string>
  <key>Q</key>
  <string>Q_.glif</string>
  <key>Q.inv</key>
  <string>Q_.inv.glif</string>
  <key>R</key>
  <string>R_.glif</string>
  <key>R.inv</key>
  <string>R_.inv.glif</string>
  <key>S</key>
  <string>S_.glif</string>
  <key>S.inv</key>
  <string>S_.inv.glif</string>
  <key>T</key>
  <string>T_.glif</string>
  <key>T.inv</key>
  <string>T_.inv.glif</string>
  <key>U</key>
  <string>U_.glif</string>
  <key>U.inv</key>
  <string>U_.inv.glif</string>
  <key>Uacute</key>
  <string>U_acute.glif</string>
  <key>Uacute.inv</key>
  <string>U_acute.inv.glif</string>
  <key>V</key>
  <string>V_.glif</string>
  <key>V.inv</key>
  <string>V_.inv.glif</string>
  <key>W</key>
  <string>W_.glif</string>
  <key>W.inv</key>
  <string>W_.inv.glif</string>
  <key>X</key>
  <string>X_.glif</string>
  <key>X.inv</key>
  <string>X_.inv.glif</string>
  <key>Y</key>
  <string>Y_.glif</string>
  <key>Y.inv</key>
  <string>Y_.inv.glif</string>
  <key>Yacute</key>
  <string>Y_acute.glif</string>
  <key>Yacute.inv</key>
  <string>Y_acute.inv.glif</string>
  <key>Z</key>
  <string>Z_.glif</string>
  <key>Z.inv</key>
  <string>Z_.inv.glif</string>
  <key>a</key>
  <string>a.glif</string>
  <key>a.inv</key>
  <string>a.inv.glif</string>
  <key>b</key>
  <string>b.glif</string>
  <key>b.inv</key>
  <string>b.inv.glif</string>
  <key>c</key>
  <string>c.glif</string>
  <key>c.inv</key>
  <string>c.inv.glif</string>
  <key>d</key>
  <string>d.glif</string>
  <key>d.inv</key>
  <string>d.inv.glif</string>
  <key>e</key>
  <string>e.glif</string>
  <key>e.inv</key>
  <string>e.inv.glif</string>
  <key>eacute</key>
  <string>eacute.glif</string>
  <key>eacute.inv</key>
  <string>eacute.inv.glif</string>
  <key>ecircumflex</key>
  <string>ecircumflex.glif</string>
  <key>ecircumflex.inv</key>
  <string>ecircumflex.inv.glif</string>
  <key>f</key>
  <string>f.glif</string>
  <key>f.inv</key>
  <string>f.inv.glif</string>
  <key>g</key>
  <string>g.glif</string>
  <key>g.inv</key>
  <string>g.inv.glif</string>
  <key>h</key>
  <string>h.glif</string>
  <key>h.inv</key>
  <string>h.inv.glif</string>
  <key>hyphen</key>
  <string>hyphen.glif</string>
  <key>hyphen.inv</key>
  <string>hyphen.inv.glif</string>
  <key>i</key>
  <string>i.glif</string>
  <key>i.inv</key>
  <string>i.inv.glif</string>
  <key>j</key>
  <string>j.glif</string>
  <key>j.inv</key>
  <string>j.inv.glif</string>
  <key>k</key>
  <string>k.glif</string>
  <key>k.inv</key>
  <string>k.inv.glif</string>
  <key>l</key>
  <string>l.glif</string>
  <key>l.inv</key>
  <string>l.inv.glif</string>
  <key>m</key>
  <string>m.glif</string>
  <key>m.inv</key>
  <string>m.inv.glif</string>
  <key>n</key>
  <string>n.glif</string>
  <key>n.inv</key>
  <string>n.inv.glif</string>
  <key>o</key>
  <string>o.glif</string>
  <key>o.inv</key>
  <string>o.inv.glif</string>
  <key>p</key>
  <string>p.glif</string>
  <key>p.inv</key>
  <string>p.inv.glif</string>
  <key>period</key>
  <string>period.glif</string>
  <key>period.inv</key>
  <string>period.inv.glif</string>
  <key>q</key>
  <string>q.glif</string>
  <key>q.inv</key>
  <string>q.inv.glif</string>
  <key>r</key>
  <string>r.glif</string>
  <key>r.inv</key>
  <string>r.inv.glif</string>
  <key>s</key>
  <string>s.glif</string>
  <key>s.inv</key>
  <string>s.inv.glif</string>
  <key>space</key>
  <string>space.glif</string>
  <key>space.inv</key>
  <string>space.inv.glif</string>
  <key>t</key>
  <string>t.glif</string>
  <key>t.inv</key>
  <string>t.inv.glif</string>
  <key>u</key>
  <string>u.glif</string>
  <key>u.inv</key>
  <string>u.inv.glif</string>
  <key>uacute</key>
  <string>uacute.glif</string>
  <key>uacute.inv</key>
  <string>uacute.inv.glif</string>
  <key>v</key>
  <string>v.glif</string>
  <key>v.inv</key>
  <string>v.inv.glif</string>
  <key>w</key>
  <string>w.glif</string>
  <key>w.inv</key>
  <string>w.inv.glif</string>
  <key>x</key>
  <string>x.glif</string>
  <key>x.inv</key>
  <string>x.inv.glif</string>
  <key>y</key>
  <string>y.glif</string>
  <key>y.inv</key>
  <string>y.inv.glif</string>
  <key>yacute</key>
  <string>yacute.glif</string>
  <key>yacute.inv</key>
  <string>yacute.inv.glif</string>
  <key>z</key>
  <string>z.glif</string>
  <key>z.inv</key>
  <string>z.inv.glif</string>
</dict>
</plist>
